header,
main,
footer {
    padding-left: 241px;
}

.menu-button {
    display: none;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }

    .menu-button {
        display: inline;
    }
}

.sidenav-header {
    padding-top: 18px;
    padding-bottom: 18px;
}

.sidenav-buttons {
    padding-top: 10px;
}

.new-button-dashboard {
    text-align: right;
    margin-top: 15px;
}

@media only screen and (max-width : 600px) {
    .new-button-dashboard, 
    .header-dashboard-students {
        text-align: center;
    }

    .new-button-dashboard {
        margin-top: 5px;
    }
}