header,
main,
footer {
    padding-left: 241px;
}

.menu-button {
    display: none;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }

    .menu-button {
        display: inline;
    }
}

.sidenav-header {
    padding-top: 18px;
    padding-bottom: 18px;
}

.sidenav-buttons {
    padding-top: 10px;
}